.g{
    color: gold;
    font-size:x-small;
}

.s{
    color: silver;
    font-size: x-small;
}

.b{
    color: rgb(165, 87, 42);
    font-size: x-small;
}

/* .test{
    color: rgb(13, 94, 245);
    background-color: rgb(9, 250, 238);
} */

.f-shadow{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* text-shadow: 2px 2px black; */
}

.f-bold{
    font-weight: bold;
}

.mini-img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border: 3px solid rgb(107, 73, 22);
    border-radius: 3px;
}

.flex-c{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}